

.black {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #999;
      font-size:30px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}


.white {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-size:30px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
