.bordered {
  border-width: 4px;
  border-style: solid;
}


.colorbox {
  position: absolute;
  width:32px;
  height:32px;
  background-color: red;
}


th, td, tr {
  padding: 0px;
  margin: 0px;
}

body,html {
  margin: 0;
  padding: 0;
}
