/**
 * This style for the class 'lu' is absolutely crucial for LineUp to work (took it from the demos)
 */
.lu {
    clear: both;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}


.LineUpParent {
    width: 100%;
    height: 100%;
    position: relative;
}

#lineup_view {
    // font-size: 0.8rem;
    // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

#lineup_view .lu-label{
    font-weight: 400;
}
