.StoryEditorParent {
    background: 'black'
}

.StoryEditorDraggable {
    cursor: move;
}

.StoryEditorTools {
    position: absolute;
    right: 0px;
    top: 0px;
}

.StoryEditorSVG {
    background-color: white;
    width: 100%;
    display: block;
    height: 100%;
}

.StoryEditorStrong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 8px;
    padding: 3px 5px;
    text-align: center;
    cursor: move;
}