

.chessboard {
  border-width: 0.5rem;
  border-color: black;
  border-style: solid;
  width: 17rem;
  height: 17rem;
}

.black {

    float: left;
    width: 2rem;
    height: 2rem;
    background-color: #999;
    font-size:1rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}


.white {
    float: left;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    font-size:1rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
