

.chessboard {
  border-width: 0.5rem;
  border-color: black;
  border-style: solid;
  width: 13rem;
  height: 13rem;
}

.black {

    float: left;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #999;
    font-size:1rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}


.white {
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    font-size:1rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
