

.chessboard {
  border-width: 0.5rem;
  border-color: black;
  border-style: solid;
  border-radius: 0.5rem;
  width: 13rem;
  height: 13rem;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.black {

    float: left;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffce9e;
    margin: 0px;
    padding: 0px;
}

.figure {
    width: 1.5rem;
    height: 1.5rem;
}

.white {
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #d18b47;
    margin: 0px;
    padding: 0px;
}






.speech-bubble-ds {
  background: #ffffff;
  border: 1px solid #a7a7a7;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;
}

.speech-bubble-ds p {
  margin-bottom: 10px;
}
.speech-bubble-ds p:last-of-type {
  margin-bottom: 0;
}

.speech-bubble-ds-arrow {
  border-left: 21px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.2);
  bottom: -25px;
  position: absolute;
  right: 15px;
}
.speech-bubble-ds-arrow::before {
  border-left: 23px solid transparent;
  border-top: 23px solid #a7a7a7;
  bottom: 2px;
  content: "";
  position: absolute;
  right: 5px;
}
.speech-bubble-ds-arrow::after {
  border-left: 21px solid transparent;
  border-top: 21px solid #efefef;
  bottom: 4px;
  content: "";
  position: absolute;
  right: 6px;
}