details {
    visibility: hidden
  }
  
.vega-embed {
    position: relative;
    display: inline-block;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}