.chemComponents{
  width: 288px;
  overflow-x: scroll;
  height: 60vh;
}
.portalSummary .chemComponents{
  width: 100%;
  height: 100%;
}

.ParentChem{
  margin-top: -30px;

}
.portalSummary .ParentChem{
  margin-top: 50px;
}

.portalSummary .ParentImg{
  height: 100%;
  width: fit-content;
}

.ParentImg .chemContainer {
  // height: 80%;
  height:fit-content;
}
.ParentImg .chem-grid {
  height: 100%;
  overflow-y: auto;
}

.ParentImg .legend_single{
  width: 360px;
  height: 360px;
}

.ParentImg .legend_multiple{
  border: solid white 1px;
  height: fit-content;
  margin-left: 5px;
}

.ParentImg label{
  margin: 0px;
}