
.ParentChem{
  margin-top: -30px;
  height: 50vh;
}
.portalSummary .ParentChem{
  height: 95vh;
  margin-top: 0px;
}

.ParentChem .chem-grid{
  // height: 85vh !important;
  height:100%;
  overflow-y: auto;

}

.ParentChem .legend_single{
  width:360px;
  height:360px;
}

.ParentChem .legend_multiple{
  padding:1px;
  height:fit-content;
}