
.legend_single{
    width:250px;
}
.legend_multiple{
  width:150px;
}

.ChemParent {
  width: 100% !important;
}

.ChemClusterMultiple{
  position:absolute;
  right:400px;
  top: 30px;
  height: auto !important;
}
.ChemClusterSingle{
  position: absolute;
  left:20px;
}