.Parent {
    width: 18rem;
    overflow-y: auto;
    height: 100px;
    flex: 1 1 auto;
}


.Cluster {
    display: flex;
    flex-shrink: 0;
    // align-items: center;
    justify-content: center;
    // height: 50%;
}