.ClusterOverviewItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 60vh;
    width: 100%;
}


.ClusterOverviewParent {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
}

.ClusterItem {
    margin-top: 16px;
    margin-bottom: 16px;
}



.CORightItem {
    transform: translateY(50%);
}

.COLeftItem {
    transform: translateY(1px);
}