.ClusterOverviewItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 60vh;
    width: 100%;
}


.ClusterOverviewParent {
    flex: 0 0 auto;
}

.ClusterItem {
    margin-top: 16px;
    margin-bottom: 16px;
    max-height: 400px;
    overflow-y: auto;
}



.CORightItem {
    transform: translateY(50%);
}

.COLeftItem {
    transform: translateY(1px);
}