.ClusterOverviewItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 60vh;
    width: 100%;
}


.ClusterOverviewParent {
    flex: 0 0 auto;
    border-radius: 0px;
}

.ClusterItem {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.COLeftItem {
    transform: translateY(1px);
}