name: Build

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: Install dependencies
      run: |
        npm install --legacy-peer-deps

    - name: Run test
      run: |
        npm run test

    - name: Run lint
      run: |
        npm run lint

    - name: Run build
      run: |
        npm run build
